<nav aria-label="breadcrumb">
  <ol class="breadcrumb my-4 p-0">
    <li class="breadcrumb-item">
      <a href="{{ '/' | relative_url }}">Home</a>
    </li>
    {% for category in page.categories %}
      {% assign paths = page.categories | slice: 0, forloop.index %}
      {% assign url = paths | join: '/' | prepend: '/' | append: '/' %}
      {% assign my_page = site.pages | where: 'url', url | first %}
      <li class="breadcrumb-item">
        <a href="{{ my_page.url | relative_url | default: '#' }}">{{ my_page.title | default: category | escape }}</a>
      </li>
    {% endfor %}
    <li class="breadcrumb-item active" aria-current="page">{{ page.title | escape }}</li>
  </ol>
</nav>
