<li class="list-inline-item">
  <a
    rel="me"
    href="{{ entry.user_url }}"
    target="_blank"
    title="{{ entry.title | default: entry.platform }}"
    class="link-secondary">
    {% case entry.platform %}
      {% when "dribbble", "facebook", "github", "instagram", "linkedin", "mastodon", "pinterest", "rss", "telegram"
       , "twitter", "youtube" %}
      <i class="bi bi-{{ entry.platform }}"></i>
      {% when "stackoverflow" %}
      <i class="bi bi-stack-overflow"></i>
    {% else %}
      <i class="bi bi-link"></i>
    {% endcase %}
  </a>
</li>
