<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" data-bs-theme="auto">

  {%- include head.html -%}

  <body>
    {%- include header.html -%}

    <main class="container mt-3 my-md-4" id="content">
      {%- include breadcrumb.html -%}

      {{ content }}
    </main>

    {%- include footer.html -%}

    <script src="{{ '/assets/js/bootstrap.bundle.min.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/color-modes.js' | relative_url }}"></script>

    {%- include custom-scripts.html -%}
  </body>

</html>
