---
layout: default
---

{%- if page.title -%}
  <h1 class="mt-5">{{ page.title | escape }}</h1>
{%- endif -%}

{{ content }}

{% if site.paginate %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{%- if posts.size > 0 -%}
  {%- if page.list_title -%}
    <h3 class="pb-4 mb-4 fst-italic border-bottom">{{ page.list_title }}</h3>
  {%- endif -%}
  {%- assign date_format = site.bootstrap.date_format | default: '%b %-d, %Y' -%}
  {%- for post in posts -%}
    <article class="mb-5">
      <h2 class="mb-1">
        <a class="text-decoration-none" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h2>
      <p>{{ post.date | date: date_format }}</p>
      {%- if site.show_excerpts -%}
        <p>{{ post.excerpt }}</p>
      {%- endif -%}
    </article>
  {%- endfor -%}

  {% if paginator.total_pages > 1 %}
    <nav aria-label="Pagination">
      <ul class="pagination">
        {%- if paginator.previous_page %}
          <li class="page-item">
            <a href="{{ paginator.previous_page_path | relative_url }}" class="page-link">Previous</a>
          </li>
        {%- else %}
          <li class="page-item disabled">
            <span class="page-link">Previous</span>
          </li>
        {%- endif %}
        {% for page in (1..paginator.total_pages) %}
          {% if page == paginator.page %}
            <li class="page-item active">
              <span class="page-link">{{ paginator.page }}</span>
            </li>
          {% elsif page == 1 %}
            <li class="page-item">
              <a href="{{ '/' | relative_url }}" class="page-link">{{ page }}</a>
            </li>
          {% else %}
            <li class="page-item">
              <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}" class="page-link">{{ page }}</a>
            </li>
          {% endif %}
        {% endfor %}
        {%- if paginator.next_page %}
          <li class="page-item">
            <a href="{{ paginator.next_page_path | relative_url }}" class="page-link">Next</a>
          </li>
        {%- else %}
          <li class="page-item disabled">
            <span class="page-link">Next</span>
          </li>
        {%- endif %}
      </ul>
    </nav>
  {%- endif %}

{%- endif -%}
